@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "iransans";
        src: url("../fonts/IRANSansWeb\(FaNum\).woff2") format("woff2");
    }
    @font-face {
        font-family: "iransansBold";
        src: url("../fonts/IRANSansWeb\(FaNum\)_Bold.woff2") format("woff2");
    }
    @font-face {
        font-family: "iransansLight";
        src: url("../fonts/IRANSansWeb\(FaNum\)_Light.woff2") format("woff2");
    }
    @font-face {
        font-family: "iransansMedium";
        src: url("../fonts/IRANSansWeb\(FaNum\)_Medium.woff2") format("woff2");
    }
    @font-face {
        font-family: "iransansUltralight";
        src: url("../fonts/IRANSansWeb\(FaNum\)_UltraLight.woff2") format("woff2");
    }
}

@layer components { 
    .container{
        max-width: 1120px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .container2{
        max-width: 1120px;
        margin: 0 auto;
    }
    .menu {
        padding: 20px;
    }
    .menu-icon {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        color: #333;
        background: white;
        font-size: 24px;
        padding: 10px;
        border-radius: 50%;
    } 
    .owl-theme .owl-nav{
        display: flex;
        justify-content: end;
    }
    .owl-carousel .owl-nav button.owl-prev{
        font-size: 60px;
        color: rgb(125, 211, 252);
    }
    .owl-carousel .owl-nav button.owl-prev:hover{
        background: 0;
        color: rgb(125, 211, 252);
    }    
    .owl-carousel .owl-nav button.owl-next{
        font-size: 60px;
        color: rgb(125, 211, 252);
    }
    .owl-carousel .owl-nav button.owl-next:hover{
        background: 0;
        color: rgb(125, 211, 252);
    } 
    .owl-carousel .owl-stage-outer {
        padding-bottom: 5px;
    }   
    @keyframes border_anim {
        0%{
            font-family: iransansLight;
        }
        50%{
            font-family: iransansMedium;
        }
        100%{
            font-family: iransansBold;
        }
    }
    p.animation{
        animation-name: border_anim;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
}

@layer utilities {
    .ltr {
        direction: ltr;
    }
    .rtl {
        direction: rtl;
    }
}
